<main class="container py-5">

  <section class="text-center mb-5">
    <h1>Catálogo</h1>
    <p class="lead text-muted">Descubre nuestras especialidades</p>
    <p>{{categoriaSeleccionada}}</p>
  </section>

  <section class="row g-4" *ngIf="productosFiltrados.length > 0; else sinProductos" >

    <article class="col-12 col-md-6 col-lg-3" *ngFor="let producto of productosFiltrados">
      <a [routerLink]="['/detalles', producto.id]" class="text-decoration-none">
        <div class="card catalog h-100 rounded-4 overflow-hidden">
          <img
            [src]="producto.imagen"
            [alt]="producto.nombre"
            class="card-img-top"
            style="height: 180px; object-fit: cover;"
          />
          <div class="card-body catalog-content">
            <span class="categoria">{{ producto.categoria }}</span>
            <h3 class="card-title">{{ producto.nombre }}</h3>
            <p class="card-text">{{ producto.descripcion }}</p>
            <p class="fw-bold">{{ formatearPrecio(producto.precio) }}</p>
          </div>
        </div>
      </a>
    </article>

  </section>

  <ng-template #sinProductos>
    <div class="alert alert-warning text-center">
      No hay productos disponibles en este momento.
    </div>
  </ng-template>

</main>