.header {
  min-height: 50vh;
  display: flex;
  align-items: center;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(70,50,40,0.8)),
    url('/assets/img/tortas/tortabackground.jpeg');
  background-size: cover;
  background-position: center;
  color: var(--color-blanco);
}




.card.catalog {
  transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
  overflow: hidden;
  border-radius: 12px;
}


.card.catalog:hover {
  opacity: 0.95; 
  transform: translateY(-4px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}