.header {
  min-height: 50vh;
  display: flex;
  align-items: center;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(70,50,40,0.8)),
    url('/assets/img/tortas/tortabackground.jpeg');
  background-size: cover;
  background-position: center;
  color: var(--color-blanco);
}